<div class="inner cover function-tabs col-xs-12">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h2 class="tab-title">
			<span class="glyphicon glyphicon-question-sign"></span> Get <span class="emphasis">random numbers</span> between... </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<form class="form-inline" ng-submit="getRandom()">
		<div class="row">
			<div class="col-xs-4">
				<p><label for="num-from">From</label></p>
			</div>
			<div class="col-xs-4">
				<p><label for="num-to">To</label></p>
			</div>
			<div class="col-xs-4">
				<p><label for="num-number">How many random numbers</label></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-center">
				<div class="form-group">
					<input type="text" placeholder="from" size=3 ng-model="start" class="form-control num-input" name="num-from">
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="form-group">
					<input type="text" placeholder="to" size=3 ng-model="end" class="form-control num-input" name="num-to">
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="form-group">
					<input type="text" placeholder="#" size=3 ng-model="number" class="form-control num-input" name="num-number">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<button type="submit" class="btn btn-warning get-num-btn">Get Numbers!</button>
				<button type="reset" class="btn btn-info get-num-btn" ng-click="unDefineNum()">Clear</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" ng-show="isNumDefined()">
				<p class="results">Results</p>
				<span class="random-result" ng-repeat="i in numbers track by $index">{{i}}</span>
			</div>
		</div>
	</form>
		</div>
	</div>
</div>